a:hover {
  color: rgb(53, 191, 245);
}

a {
  font-size: 1.2em;
}
.dropdown-menu {
  padding: 10px;
  border-radius: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: rgba(53, 191, 245, 0.1);
  color: rgb(53, 191, 245);
}

img {
  border-top: 2px solid #000;
}

@media (max-width: 640px) {
  .sidebar {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    min-width: 100px;
    min-height: 100%;
  }
  .sidebar div {
    margin-left: 10px;
  }
}